<div class="container-fluid" style="margin: 5px;">
  <div class="row">
    <div class="col-lg-3">
      <div class="card text-center" style="padding: 5px;">
        <img [src]='doc.photolink'
        class="img-thumbnail" style="width: 150px;height: 150px;border-radius: 50%; object-fit:contain;margin: auto auto; margin-bottom: 3px;" alt="here comes your dp">
        <span>{{doc.fname}} {{doc.lname}}</span>
        <span><b>{{doc.rollno}}</b></span>
        <span *ngIf='doc.isverified' class="btn btn-success" style="width: fit-content;border-radius: 50%;margin: auto auto;"><i class="fa fa-check" aria-hidden="true" style="margin: auto auto;"></i>
        </span>
        <span *ngIf='!doc.isverified' class="btn btn-danger" style="width: fit-content;border-radius: 50%;margin: auto auto;"><i class="fa fa-times" aria-hidden="true" style="margin: auto auto;"></i>
        </span>
      </div>
        <hr/>button
      <div class="list-group">
        <a class="list-group-item list-group-item-action active disabled">Quick Links</a>
        <a class="list-group-item list-group-item-action " routerLink='../fillform'>Fill Form</a>
        <a class="list-group-item list-group-item-action " routerLink='../updateform'>Update Form</a>
        <a class="list-group-item list-group-item-action " routerLink='../uploads'>Upload Documents</a>
        <a class="list-group-item list-group-item-action " routerLink='../printform'>Print Form</a>
        <hr/>
        <a class="list-group-item list-group-item-action ">Logout</a>
        <a class="list-group-item list-group-item-action ">Home</a>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header text-center">
              NOTICEBOARD
            </div>
            <div class="card-body">
                no recent notices
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header text-center">
              HELPDESK
            </div>
            <div class="card-body">
              please contact srijan khatri
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
