<div class="container" style="padding: 10px;">
  <div class="alert alert-success" style="padding: 10px;">
      <h1 class="text-center">Rules and Regulations</h1>

      <ol>
        <li>
          Students getting two or more offers in Day ONE shared companies will not be allowed to appear in any further IT service companies. However,
           such students will be allowed to appear in core companies campus placement drives until they get at least one offer from core companies.
           <ul>
             <li>
              Core companies are the companies which allow the students only from specific branch.
             </li>
             <li>
              IT Service Companies are the companies which allow the students irrespective of their branch.
             </li>
           </ul>
        </li>
        <li>
          The students having two offers in IT service companies will be allowed to appear in further IT service
          companies placement drive if the compensation of the said company is more than or equal to 4.5 lakh/annum.
        </li>
        <li>
          Students are advised to refrain from posting any
          comment related to campus activities in any social/public platform/forum.
           If any student is found violating this will not be allowed to participate in any
          TPO activities. Further, in case of the students, even after leaving the campus after
           the completion of their degree is found violating the same, the TPO office will
          be free to take action(s) which may result in the student ending up losing his/her job.
        </li>
        <li>
          You cannot leave the process in between for what so ever reasons.
          In case of any exception, you will have to present your case personally to the TPO.
        </li>
        <li>
          Student must bring their Enrollment ID Card / Smart Card on the due campus drive date.
        </li>
        <li>
          In case of any discrepancy the decision of TPO shall be considered final.
        </li>
        <li>
          A student who applies and gets shortlisted is bound to go
          through the entire selection process unless rejected midway by the company.
          Any student who withdraws deliberately or otherwise in the middle of a selection
           process will be disallowed from placement for the rest of the academic year.
        </li>
        <li>
          Late comers for the aptitude test/GD/Interview may not be allowed to appear for the selection process.
        </li>
        <li>
          DRESS CODE: Students must be formally dressed whenever students participate
          in any interaction including PPT with a company.
          This office reserves the right to refuse permission to a student to attend the selection process/PPT,
          if he/she is not formally dressed.
        </li>
        <li>
          DRESS CODE for Volunteers: Volunteers must be formally dressed at the time of campus activities.
        </li>
        <li>
          Failing to abide by the rules laid, the student will be debarred from the TPO activities and any offer what so ever will be scrapped.
        </li>
      </ol>
  </div>
</div>
