<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink='/home'>TPO-JEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/register' routerLinkActive='active' *ngIf='!isloggedin'>REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/updates' routerLinkActive='active'>UPDATES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/help' routerLinkActive='active'>HELP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/codeofconduct' routerLinkActive='active'>CODE OF CONDUCT</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" style="text-align: right;" *ngIf='isloggedin'>
        <button  type='button' class="nav-link btn btn-outline-danger" (click)='logout()'>LOGOUT</button>
      </li>
      <li class="nav-item" style="text-align: right;" *ngIf='!isloggedin'>
        <button type='button' class="nav-link btn btn-outline-success " routerLink='/login' routerLinkActive='active'>LOGIN</button>
      </li>
    </ul>
  </div>
</nav>
