<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink='/home'>TPO-JEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/register' routerLinkActive='active'>REGISTER</a>
      </li>
      <li class="nav-item" style="text-align: right;">
        <a t class="nav-link" routerLink='/login' routerLinkActive='active'>LOGIN</a>
      </li>
    </ul>
  </div>
</nav>
