<div class="container alert alert-success text-center">
  <h1 class="text-success">information</h1>
  <p>you are redirected here due to any of the following reasons</p>
  <ul>
    <li>
      <p>you have successfully submitted form</p>
    </li>
    <li>
      <p>you have successfully uploaded documents</p>
    </li>
    <li>
      <p>you have successfully updated existing information</p>
    </li>
    <li>
      <p class="text-alert">or, the registration lines are closed or not yet open for your batch</p>
    </li>
  </ul>
  <button class="btn btn-primary" routerLink='/profile'>go to dashboard</button>
</div>
