<form [formGroup]='form2' (ngSubmit)='submit()'>
  <div class="container card">
    <div class="card-header">
      <div>ACADEMIC DETAILS</div>
      <small class="text-danger">fields marked with (*) are required</small>
   </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="admissionyear" class="required">ADMISSION YEAR</label>
        <input id="admissionyear" class="form-control" type='text' formControlName='admission_year'>
      </div>
      <div class="col">
        <label for="passingyear" class="required">PASSING YEAR</label>
        <input type='text' class="form-control" id="passingyear" formControlName='passing_year'>
      </div>
      <div class="col">
        <label for="dropyear" class="required">DROP YEAR</label>
        <input class="form-control" id="dropyear" type='text' formControlName='drop_year'>
      </div>
    </div>
    <div class="form-group form-row">
      <div class='col'>
        <label for='course' class="required">COURSE</label>
        <select id="course" class="form-control" formControlName='course'>
          <option disabled selected>select one</option>
          <option value="BTECH">B.TECH</option>
          <option value="ME">ME</option>
          <option value="MCA">MCA</option>
        </select>
      </div>
      <div class="col">
        <label for='branch' class="required">BRANCH</label>
        <select id='branch' class="form-control" formControlName='branch'>
          <option selected disabled>select one</option>
          <option value='CSE'>COMPUTER SCIENCE AND ENGINEERING</option>
          <option value='CE'>CIVIL ENGINEERING</option>
          <option value='ME'>MECHANICAL ENGINEERING</option>
          <option value='IT'>INFORMATION TECHNOLOGY</option>
          <option value="EE">ELECTRICAL ENGINEERING</option>
          <option value='ETE'>ELECTRONICS AND TELECOMMUNICATION ENGINEERING</option>
          <option value='IP'>INDUSTRIAL PRODUCTION</option>
          <option value='MCA'>MCA</option>
          <option value='MICROWAVE ENGINEERING'>MICROWAVE ENGINEERING</option>
          <option value='HEAT POWER ENGINEERING'>HEAT POWER ENGINEERING</option>
          <option value='GEO TECH ENGINEERING'>GEO TECH ENGINEERING</option>
          <option value='MACHINE DESIGH ENGINEERING'>MACHINE DESIGH ENGINEERING</option>
          <option value='HIGH VOLTAGE ENGINEERING'>HIGH VOLTAGE ENGINEERING</option>
          <option value='HIGH VOLTAGE AND POWER SYSTEM ENGINEERING'>HIGH VOLTAGE AND POWER SYSTEM ENGINEERING</option>
          <option value='CONTROL SYSTEM ENGINEERING'>CONTROL SYSTEM ENGINEERING</option>
          <option value='COMMUNICAION SYSTEM ENGINEERING'>COMMUNICAION SYSTEM ENGINEERING</option>
          <option value='ENVIRONMENTAL ENGINEERING'>ENVIRONMENTAL ENGINEERING</option>     
          <!-- <option value='APPLIED-PHYSICS'>APPLIED PHYSICS</option>
          <option value='APPLIED-MATHEMATICS'>APPLIED MATHEMATICS</option>
          <option value='APPLIED-CHEMISTRY'>APPLIED CHEMISTRY</option> -->
        </select>
      </div>
      <div class="col">
        <label for='currsem' class="required">SEMESTER</label>
        <select id='currsem' class="form-control" formControlName='curr_sem' (change)='addarray()'>
          <option selected disabled>select one</option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value='3'>3</option>
          <option value='4'>4</option>
          <option value='5'>5</option>
          <option value='6'>6</option>
          <option value='7'>7</option>
          <option value='8'>8</option>
        </select>
      </div>
      <div class="col">
        <label for='entrylevel' class="required">ENTRY LEVEL</label>
        <select id='entrylevel' class="form-control" formControlName='entry_level'>
          <option selected disabled>select one</option>
          <option value='0'>JEE MAIN AND COUNCELLING</option>
          <option value='1'>LATERAL ENTRY</option>
          <option value='2'>POST GRADUATION</option>
        </select>
      </div>
    </div>

    <div class="form-group form-row">
      <div class="col">
        <label for="totalbacklog" class="required">TOTAL BACKLOGS</label>
        <input id="totalbacklog" class="form-control" type='text' formControlName='total_backlog'>
      </div>
      <div class="col">
        <label for="activebacklog" class="required">ACTIVE BACKLOGS</label>
        <input type='text' class="form-control" id="activebacklog" formControlName='active_backlog'>
      </div>
      <div class="col">
        <label for="failyear" class="required">FAIL YEAR(S)</label>
        <input class="form-control" id="failyear" type='text' formControlName='fail_year'>
      </div>
      <div class="col">
        <label for="currcgpa" class="required">CURRENT CGPA</label>
        <input class="form-control" id="currcgpa" type='text' formControlName='curr_cgpa'>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="minortraining" class="required">MINOR TRAINING</label>
        <input type='text' class="form-control" id="minortraining" formControlName='minor_training'>
      </div>
      <div class="col">
        <label for="minorproject" class="required">MINOR PROJECT</label>
        <input type='text' class="form-control" id="minorproject" formControlName='minor_project'>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col">
        <label for="majortraining" class="required">MAJOR TRAINING</label>
        <input type='text' class="form-control" id="majortraining" formControlName='major_training'>
      </div>
      <div class="col">
        <label for="majorproject" class="required">MAJOR PROJECT</label>
        <input type='text' class="form-control" id="majorproject" formControlName='major_project'>
      </div>
    </div>
    <hr />
    <div *ngFor='let i of semarray'>
      <div class="form-group">
        <label>SEM {{i+1}}</label>
      </div>
      <div class="form-group form-row">
        <div class="col">
          <label for="'sgpa">SGPA</label>
          <input type='text' class="form-control" id="sgpa" formControlName='sem{{i+1}}_sgpa'>
        </div>
        <div class="col">
          <label for='ecredit'>EARNED CREDITS</label>
          <input type='text' class="form-control" id="ecredit" formControlName='sem{{i+1}}_earned_credit'>
        </div>
        <div class="col">
          <label for='tcredit'>TOTAL CREDITS</label>
          <input type='text' class="form-control" id="tcredit" formControlName='sem{{i+1}}_total_credit'>
        </div>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="col text-center">
        <button class="btn btn-primary" style="margin: 3px;" type="submit" [disabled]='form2.invalid'>save and next</button>
        <button class="btn btn-danger" type="reset" style="margin: 3px;">reset</button>
      </div>
    </div>
  </div>

</form>
