
<div class="alert alert-danger container">
  <h3>please review your form before proceeding to submit</h3>
</div>
<div class="container card">
  <div class="card-header">
    <div class="card-title">DECLARATION</div>
  </div>
  <div class="card-body text-center">
   <p>I hereby declare that all the information provided by me here is inclusive and correct
     and i take full liability of the correctness of the information, being aware of the fact that
     any discrepancy if found in the provided information i shall not be able to get benefits of campus
     placements and other benefits provided by Training and placement Office, Jabalpur engineering college.
   </p>
   <span>I agree <input type="checkbox" (change)='isagreed($event)'> </span><br/>
   <button class="btn btn-success" type="button" [disabled]='isdisabled()' (click)='submit()' style="margin: auto auto;">SUBMIT</button>
  </div>
</div>

