<div class="container" id="form">
  <span class="btn btn-success btn-small" (click)='print()'>print</span>
  <div class="text-center"><h1>{{data.rollno.toUpperCase()}}</h1></div>
  <hr/>
  <div class="row">
    <div class="col-lg-9">
        <div class="row">
          <div class="col">
            Name: {{data.fname}} {{data.lname}}
            <hr/>
            Email: {{data.email}}
            <hr/>
            Phone Number: {{data.phone}}
            <hr/>
            Batch: {{data.batch}}
          </div>
          <div class="col">
            Date Of Birth: {{data.dob}}
            <hr/>
            Gender: {{data.gender}}
            <hr/>
            Branch: {{data.branch}}
            <hr/>
            Address: {{data.p_add_l1}} {{data.p_add_l2}} {{data.p_city}} {{data.p_state}}
                     {{data.p_country}}
          </div>
        </div>
    </div>
    <div class="col text-center">
      <img [src]='data.photolink'
      class="img-thumbnail" style="width: 150px;height: 200px;border-radius: 5%; object-fit:contain;margin: auto auto;">
    </div>
  </div>
</div>
