<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink='/home'>TPO-JEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/updates' routerLinkActive='active'>UPDATES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/profile/dashboard' routerLinkActive='active'>DASHBOARD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/help' routerLinkActive='active'>HELP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/codeofconduct' routerLinkActive='active'>CODE OF CONDUCT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" routerLinkActive='active' (click)='logout()'>LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
