<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 card" style="margin: auto auto">
      <h3 class="text-center">Set Password</h3>

      <div class="text-center card" *ngIf="alert">
        <p style="color: red">{{ alert }}</p>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-row form-group">
            <label>Batch</label>
            <select class="form-control" [(ngModel)]='batch'>
                <option *ngFor='let b of activecollections' value="{{b}}">{{b}}</option>
            </select>
          </div>
          <div class="form-row form-group">
            <div class="col-lg-6">
              <label for="rollno">Enrollment Number</label>
              <input type="text" class="form-control" id="rollno" [(ngModel)]='rollno' placeholder="Enrollment Number">
            </div>
            <div class="col-lg-3">
              <button class="btn btn-success" (click)='getdoc()' style="margin-top: 32px;">submit</button>
            </div>
          </div>

          <div class='form-group form-row' *ngIf='recordpresent'>
            <div class="col-lg-6">
              <label for='phoneno'>Phone number</label>
              <input type="text" class="form-control" id="phoneno" disabled
                value="{{this.doc.phone}}">
            </div>
            <div class="col-lg-3">
              <button class="btn btn-success" id='otpbtn' (click)='sendotp()' style="margin-top: 32px;">send
                otp</button>
            </div>
            <div class="col-lg-3">
              <i class="fa fa-check" aria-hidden="true" style="color: green; margin-top:37px;" *ngIf='isotpsent'></i>
            </div>
          </div>

          <div class="form-group form-row" *ngIf='isotpsent'>
            <div class="col-lg-6">
              <label for="otp">verify otp</label>
              <input type="text" class="form-control" id="otp" [(ngModel)]='code' placeholder="Enter otp">
            </div>
            <div class="col-lg-3">
              <button class="btn btn-success" (click)='verifyotp()' style="margin-top: 32px;">verify</button>
            </div>
            <div class="col-lg-3">
              <i class="fa fa-check" aria-hidden="true" style="color: green; margin-top: 37px;"
                *ngIf='isotpverified'></i>
            </div>
          </div>

          <div class="form-group form-row" *ngIf='isotpverified'>
            <div class="col-lg-6">
              <label for="password">new password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]='password'
                placeholder="Enter new password" style="margin-right: 3px;">
            </div>
            <div class="col-lg-3">
              <button class="btn btn-success" (click)='setpassword()' style="margin-top: 32px;">submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id='recaptcha'></div>
