<div class="container stick-top" *ngIf='isproceeded'>
  <ul class="nav justify-content-center nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink='form1' routerLinkActive='active'>personal details
        <i class="fa fa-check" aria-hidden="true" style="margin: auto auto;color: green;"  *ngIf='f1'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='form2' routerLinkActive='active'>current academic details
        <i class="fa fa-check" aria-hidden="true" style="margin: auto auto;color: green;" *ngIf='f2'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='form3' routerLinkActive='active'>previous academic performance
        <i class="fa fa-check" aria-hidden="true" style="margin: auto auto;color: green;" *ngIf='f3'></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="form4" routerLinkActive='active'>review and submit
        <i class="fa fa-check" aria-hidden="true" style="margin: auto auto;color: green;" *ngIf='f4'></i>
      </a>
    </li>
  </ul>
</div>
<hr/>
<div class="container alert alert-success" *ngIf='!isproceeded'>
  <div class="card-title text-center"><h2>INSTRUCTIONS</h2></div>
  <ul>
    <li>
      <p>PLEASE FILL THIS FORM VERY CAREFULLY AND AVOID DOING SILLY MISTAKES</p>
    </li>
    <li>
      <p class="text-danger">THE FORM WILL BE ALLOWED TO FILL ONLY ONCE, ONCE THE FORM IS SUBMITTED YOU WILL NOT BE ABLE
        TO CHANGE OR EDIT ANY DETAIL
      </p>
    </li>
    <li>
      <p>PLEASE CHECK FOR THE AUTHENTICITY OF THE DETAILS,THE CANDIDATE WILL BE RESPONSIBLE FOR ANY WRONG INFORMATION</p>
    </li>
    <li>
      <p>FILL ALL THE DETAILS CORRESPONDING TO YOUR QUALIFICATIONS e.g for lateral entry students it is compulsory to fill diploma details
      </p>
    </li>
    <li>
      <p>IN CASE OF ANY TECHNICAL PROBLEM PLEASE CONTACT TO TRAINING AND PLACEMENT OFFICE</p>
    </li>
  </ul>
  <div class="alert alert-primary text-center">
    <p>i have read the instructions <span><input type="checkbox" (change)='ischecked($event)'></span></p>
    <button class="btn btn-primary"[disabled]='!isinstructionaccepted' (click)='proceed()'>PROCEED</button>
  </div>
</div>
<router-outlet></router-outlet>

