<div class="container-fluid">
  <div>
    <h1>Student Registration</h1>
  </div>
  <div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>First Name*</label>
        <input formControlName="firstName" type="first name" class="form-control" placeholder="First Name" required>
      </div>


      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <label for='batch'>Batch</label>
        <input type='text' id='batch' class="form-control" placeholder="Passing Year">
      </div>
      <div class="form-group">
        <label for='branch'>Branch</label>
        <select id='branch' class="form-control">
          <option selected disabled>select one</option>
          <option value='CSE'>COMPUTER SCIENCE AND ENGINEERING</option>
          <option value='CE'>CIVIL ENGINEERING</option>
          <option value='ME'>MECHANICAL ENGINEERING</option>
          <option value='IT'>INFORMATION TECHNOLOGY</option>
          <option value='ETE'>ELECTRONICS AND TELECOMMUNICATION ENGINEERING</option>
          <option value='IP'>INDUSTRIAL PRODUCTION</option>
          <option value='APPLIED-PHYSICS'>APPLIED PHYSICS</option>
          <option value='APPLIED-MATHEMATICS'>APPLIED MATHEMATICS</option>
          <option value='APPLIED-CHEMISTRY'>APPLIED CHEMISTRY</option>
        </select>
      </div>
      <div class="form-group">
        <label for='rollno'>Enrollment Number</label>
        <input type='text' id='rollno' class="form-control" style="text-transform: uppercase;">
      </div>
      <div class="form-group form-row">
        <div class="col-lg-6">
          <label for='phoneno'>Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">+91</div>
            </div>
            <input type="text" class="form-control" id="phoneno">
          </div>
          =======

          <div class="form-group">
            <label>Enrollment no*</label>
            <input formControlName="Enrollment" type="enrollment" class="form-control" placeholder="Enrollment no."
              required>
            >>>>>>> d4fbfd95df594e957c4a7a3866b1dea78135a418
          </div>

          <div class=form-group>
            <label>Branch*</label>
            <select formControlName="Branch" class="form-control">
              <option>Computer Science & Engineering</option>
              <option>Information Technology</option>
              <option>Electronics & Communications</option>
              <option>Electrical Engineering</option>
              <option>Civil Engineering</option>
              <option>Mechanical Engineering</option>
              <option>Industrial Production Engineering</option>
            </select>
          </div>
          <div class=form-group>
            <label>Selct graduation year*</label>
            <select formControlName="gradYear" class="form-control">
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
            </select>
          </div>


          <div class="form-group">

            <label>E-mail*</label>
            <input formControlName="Email" type="Email" class="form-control" placeholder=" E-mail (e.g john123@xyz.com)"
              required>
            <span class="text-danger" *ngIf="(Email.touched || submitted) && Email.errors?.required">
              Email is required
            </span>
            <span class="text-danger" *ngIf="Email.touched && Email.errors?.email">
              Enter a valid email address
            </span>
          </div>

          <div class="form-group">
            <label>Contact no.*</label>
            <input formControlName="Contact" type="mobile no" class="form-control"
              placeholder="Enter your 10 digit mobile no." required>
          </div>

          <div class="form-group">
            <label>Password*</label>
            <input formControlName="Password" type="Password" class="form-control" placeholder="Enter a new password"
              required>
            <span class="text-danger" *ngIf="(Password.touched || submitted) && Password.errors?.required">
              Password is required
            </span>

            <span *ngIf="Password.touched && Password.errors?.pattern" class="text-danger">
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number
            </span>


          </div>

          <div class="form-group">
            <label>Confirm Password*</label>
            <input formControlName="confirmPassword" type="password" class="form-control"
              placeholder="Re-type the password" required>
            <span class="text-danger" *ngIf="(confirmPassword.touched || submitted)&& confirmPassword.errors?.required">
              Confirm Password is required
            </span>
            <span class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
              Passwords doesnot match
            </span>
            <input type="checkbox">Show Password
          </div>
          <div class="form-group">

            <button class="btn button-submit" style="color:black;background:lightskyblue"
              placeholder="Mobile no.">Submit</button>
          </div>

          {{registrationForm.value | json}}
        </div>
      </div>
