<form [formGroup]='register' (ngSubmit)='onSubmit()'>

  <div class="container card" style="padding: 5px; margin-bottom: 10px;">
    <h3 class="h3 text-center">Register</h3>
    {{register.value|json}}
    <div class="row">
      <div class="col-lg-9" style="margin: auto auto;">
          <div class="form-row form-group">
            <div class="col">
              <label for='fname'>First Name</label>
              <input type='text' id='fname' class="form-control" formControlName='fname' [class.is-invalid]='fname.invalid && fname.touched'>
              <small *ngIf='fname.invalid&&fname.touched' class="text-danger"> field is required</small>
            </div>
            <div class="col">
              <label for='mname'>Middile Name</label>
              <input type='text' id='mname' class="form-control" formControlName='mname'>
            </div>
            <div class="col">
              <label for='lname'>Last Name</label>
              <input type='text' id='lname' class="form-control" formControlName='lname' [class.is-invalid]='lname.invalid && lname.touched'>
              <small *ngIf='lname.invalid && lname.touched' class="text-danger">this field is required</small>
            </div>
          </div>
          <div class="form-group">
            <label for='batch'>Batch</label>
            <input type='text' id='batch' class="form-control" placeholder="Passing Year" formControlName='batch' [class.is-invalid]='batch.invalid && batch.touched'>
            <small *ngIf='batch.invalid && batch.touched' class="text-danger">this field is required</small>
          </div>
          <div class="form-group">
            <label for='branch'>Branch</label>
            <select id='branch' class="form-control" formControlName='branch' [class.is-invalid]='branch.invalid && branch.touched'>
              <option selected disabled>select one</option>
              <option value='CSE'>Computer Science and Engineering</option>
              <option value='CE'>Civil Engineering</option>
              <option value='ME'>Mechanical Engineering</option>
              <option value='IT'>Information Technology</option>
              <option value='ETE'>Electronics And Telecommunication Engineering</option>
              <option value='MCA'>Master of Computer Application</option>
            </select>
            <small *ngIf='branch.invalid && branch.touched' class="text-danger">this field is required</small>
          </div>
          <div class="form-group">
            <label for='rollno'>Enrollment Number</label>
            <input type='text' id='rollno' class="form-control" formControlName='rollno' [class.is-invalid]='rollno.invalid && rollno.touched'>
            <div *ngIf='rollno.invalid && rollno.touched'>
              <small *ngIf='(rollno.errors.minlength)' class="text-danger">invalid enrollment number</small>
              <small *ngIf='rollno.errors.required' style="color:red;">this field is required</small>
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col-lg-6">
              <label for='phoneno'>Phone</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">+91</div>
                </div>
                <input type="text" class="form-control" id="phoneno" formControlName='phone' [class.is-invalid]='phone.invalid&&phone.touched'>
              </div>
              <small *ngIf='phone.invalid && phone.touched' class="text-danger">this field is required</small>
            </div>
            <div class="col">
              <button class="btn btn-success" style="margin-top: 32px;" (click)='sendphoneotp()'>send otp</button>
            </div>
            <div class="col" *ngIf='isphoneotpsent'>
              <label for='otp1'>Enter OTP</label>
              <input type='text' id='otp1' class="form-control" placeholder="enter otp">
            </div>
            <div class="col" *ngIf='isphoneotpsent'>
              <button class="btn btn-success" style="margin-top: 32px;">verify</button>
            </div>
          </div>
          <div class="form-group form-row">
            <div class="col-lg-6">
              <label for='email'>Email</label>
              <input type='email' id='email' class="form-control" formControlName='email' [class.is-invalid]='email.invalid && email.touched'>
              <div *ngIf='email.invalid && email.touched'>
                <small *ngIf='email.errors?.email' class="text-danger">please enter a valid email</small>
                <small *ngIf='email.errors?.required' class='text-danger'>this field is required</small>
              </div>
            </div>
            <div class="col">
              <button class="btn btn-success" style="margin-top: 32px;" (click)='sendemailotp()'>send otp</button>
            </div>
            <div class="col" *ngIf='isemailotpsent'>
              <label for='otp2'>Enter OTP</label>
              <input type='text' id='otp2' class="form-control" placeholder="enter otp">
            </div>
            <div class="col" *ngIf='isemailotpsent'>
              <button class="btn btn-success" style="margin-top: 32px;">verify</button>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="col">
              <label for="password1">Password</label>
              <input type='password' id='state' class="form-control" formControlName='password' [class.is-invalid]='password.invalid && password.touched'>
              <div *ngIf='password.invalid && password.touched'>
                <small *ngIf='password.errors?.required' class="text-danger">please enter password</small>
                <small *ngIf='password.errors?.pattern' class="text-danger">Password must have minimum 8 characters, at least one uppercase letter, one lowercase
                  letter and one number</small>
              </div>
            </div>
            <div class="col">
              <label for='password2'>Confirm Password</label>
              <input type='password' id='password2' class="form-control" formControlName='cpassword' [class.is-invalid]='cpassword.invalid && cpassword.touched'>
              <div *ngIf='cpassword.invalid && cpassword.touched'>
                <small *ngIf='cpassword.errors?.required' class="text-danger">please re-enter password</small>
              </div>
              <small *ngIf='register.errors?.mismatch' class="text-danger">passwords do not match</small>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success" type="submit">Register</button>
          </div>
      </div>
    </div>
  </div>
</form>
